@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-family: 'Fasthand', cursive;
        font-family: 'Kumbh Sans', sans-serif;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Playpen_Sans', cursive;
        font-family: 'Poppins', sans-serif;
    }
    h1{
        -webkit-text-stroke : 0.1vw #000; 
    }
    *::-webkit-scrollbar {
        display : none;
    }
}

@layer components{
    .task{
        background-color : white;
        color : black;
        box-shadow : 0px 5px 15px rgba(0,0,0,0.15);
        padding : 12px;
        font-size : 16px;
        border-radius : 4px;
        cursor : move;
    }
    .is-dragging {
        scale : 1.05;
        box-shadow : 0px 5px 15px rgba(0,0,0,0.25);
        background : rgb(50 ,50 ,50);
        color : white;
    }
    .hide{
        display : none;
    }
}